html,
body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #0D1117;
}

header {
  background-color: #161B22;
}

.logo {
  float: left;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.menu-item {
  width: 10em;
  text-align: center;
  display: block;
  padding: 14px 16px;
}

.menu-item a {
  color: #cccccc;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #af2843;
}

.active {
  background-color: #DC143C;
}

@media (max-width: 600px) {
  .menu {
     flex-direction: column;
  }
  .menu-item {
     flex: none;
     width: 100%;
  }
}

.main-page-title {
  text-align: center;
  color: #cccccc;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #cccccc;
}

.section-title, .camp-title {
  color: #cccccc;
  padding: 0px 0px 0px 10px;
}

.legend {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.marker-image {
  padding: 0px 0px 10px 10px;
}

.marker-description {
  color: #cccccc;
  padding: 0px 0px 10px 10px;
}

#map-canvas {
  height: 1000px;
}

.footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: solid 1px #cccccc;
  color: #cccccc;
}

.infobox {
  border: 1px solid #a2a9b1;
  background: #f8f9fa;
  margin-bottom: .5em;
  margin-left: 1em;
  padding: .4em;
  float: right;
  clear: right;
  font-size: 90%;
  width: 23em;
  vertical-align: middle;
  text-align: left;
  line-height: 1.5em;
  border-collapse: separate;
  border-spacing: 2px;
}

.infobox-above {
  background: #DC143C;
  color: white;
  font-size: 120%;
  text-align: center;
}

.leaflet-popup-content-wrapper {
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  box-shadow: none !important;
}

.leaflet-popup-tip {
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  box-shadow: none !important;
}

.source, .source-title {
  padding: 10px;
  color: #cccccc;
}

.camp-article {
  color: #cccccc;
}

.camp-details {
  padding: 10px;
}

.table-year {
  font-weight: bold;
}

th, td {
  border: 1px solid #a2a9b1;
}